<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Radio Néo{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-ipad-retina.png">

        <meta name="twitter:site" content="@Radio_NEO">
        <meta property="fb:page_id" content="191783024580">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
