{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

    {% stylesheets 'bundles/radioneofront/css/radioneo.scss' output='css/radioneo.css' filter='sass' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block body %}
    {% block header %}
        <header>
            <div class="header-top">
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{ asset('bundles/radioneofront/images/logo.png') }}" alt="" class="img-responsive logo">
                    </div>
                    <div class="col-md-10">

                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        <footer>

        </footer>
    {% endblock %}
{% endblock %}
