{% extends 'RadioNeoFrontBundle::layout.html.twig' %}

{% block content %}
    <section id="latest-posts">
        {{ render(controller('RadioNeoFrontBundle:Blog:latestPosts', {
            'max': 3
        })) }}
    </section>
{% endblock %}
